@model ToDoPhoneBook.Contracts.Models.ToDoItemsListDto

@{
    ViewData["Title"] = "Index";
}

<button id="SearchToday" type="button" class="btn btn-default">День</button>
<button id="SearchWeek" type="button" class="btn btn-default">Неделя</button>
<button id="SearchMonth" type="button" class="btn btn-default">Месяц</button>
<button id="SearchFull" type="button" class="btn btn-default">Список</button>
<table id="grid-data-api" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="id" data-type="numeric">ID</th>
            <th data-column-id="itemType">Тип события</th>
            <th data-column-id="title">Тема</th>
            <th data-column-id="startDate">Дата начала</th>
            <th data-column-id="endDate">Дата окончания</th>
            <th data-column-id="place" class="fa glyphicon-pencil" >Место</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">

    var grid = $("#grid-data-api").bootgrid({
        labels: {
            noResults: "По вашему запросу ничего не найдено"
        },
        ajax: true,
        post: function () {
        },
        url: "/api/ToDoItems",
        formatters: {
            "commands": function (column, row) {
                return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><span class=\"glyphicon-pencil\"></span></button> " +
                    "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"glyphicon-trash\"></span></button>";
            }
        }
    }).on("loaded.rs.jquery.bootgrid", function () {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function (e) {
            alert("You pressed edit on row: " + $(this).data("row-id"));
        }).end().find(".command-delete").on("click", function (e) {
            alert("You pressed delete on row: " + $(this).data("row-id"));
        });
    });

    $("#SearchToday").on("click", function () {
        var grid = $("#grid-data-api").bootgrid({
            labels: {
                noResults: "По вашему запросу ничего не найдено"
            },
            ajax: true,
            post: function () {
                return { date: "today" };
            },
            url: "/api/ToDoItems"
        })
        $("#grid-data-api").bootgrid("search", "today");
    });


</script>
